@{
    ViewData["Title"] = "Inicio";
}

<div class="container text-center mt-5">
    <h1>¡Bienvenido a TP07 PreguntadORT!</h1>
    <img src="~/ImagenesPreguntadOrt/LogoPreguntadOrt.jpeg" alt="Logo" class="mt-3" style="max-width: 300px;">
    <div class="mt-4">
        <a href="@Url.Action("ConfigurarJuego", "Home")" class="btn btn-primary">Configurar Juego</a>
    </div>
</div>
